:root {
  --header-footer-color: #212121;
  --page-color: white;
  --interactive-elements-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0 auto;
}
/* ____________HEADER - top-bar/menu_____________ */

header {
background-color:var(--page-color);
height: 80px;
box-sizing: border-box;
border-bottom: 1px solid #ececec;
}

.container {
display: flex; 
box-sizing: border-box;
max-width: 1200px;
height: 80px;
margin: 0px auto;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
border-bottom: 1px solid #ececec;
background-color: var(--page-color);
}

.content-logo {
display: inline-block;
margin: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
box-sizing: border-box;
margin-right: 0px;

}

.content-menu {
display: inline-block;
margin: 0px;
box-sizing: border-box;
height: 80px;
padding: 0px;
margin-right: 115;
}

.content-contacts {
display: inline-block;
margin: 0px;
box-sizing: border-box;
height: 80px;
padding: 0px;
margin-left: 140px;
}

.menu {
display: flex;
list-style: none;
padding: 0px;
background-position: center;
margin: 32px;
margin-left: 93px;
}

.link-menu {
  margin-right: 46px;
  color:var(--main-font-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link-contacts {
  color:var(--secondary-font-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 32px;
  
}

.link-menu:hover {
  color: var(--interactive-elements-color);
}

.link-contacts:hover {
  color: var(--interactive-elements-color);
}

.link-mail {
margin-right: 50px;  
}

.link-tel {
margin-left: 0px;
margin-right: 0px;
}

.section-team {
background-color: #F5F4FA;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-part {
  color: var(--interactive-elements-color);
  margin:0px;
  
}

 /* Ta lista odnosi się do wszystkich list w pliku index i portfolio */

.list {
  list-style: none;
   display:inline-flex;
   padding: 0px;
   margin: 0px; }



/* ________ H1 - EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU_______ */
 
.container-main-title {
box-sizing: border-box;
max-width: 1200px;
margin: 0px auto; 
text-align: center;
margin-bottom: 0px;
}

.section-main-title {
  background-color: var(--header-footer-color);
  text-align: center;
  height: 600px; 
  margin-top: 0px;
  border: 0.1px solid; 
  padding: 0px;
} 

.main-title {
  background-color: var(--header-footer-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 30px;
  color: white;
  width: 696px;
  height: 120px;
}

.button-header {
  background-color: var(--interactive-elements-color);
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  border-style: none;
  Height: 50px;
  Font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 41px;
  margin-top: 0px;
}

.button-header:hover {
 color: var(--main-font-color);
 background-color:#F5F4FA;
}


/* _______Section LOREM IPSU with paragraphs____________ */

.p-section {
  background-color: white;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 0px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-font-color);
} 

.single-paragraph {
  height: 75px;
  width: 270px;
  margin-right: 30px;
}
.p-titles {
color: var(--main-font-color); 
font-weight: 700; 
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
}

section {
  margin: 0 auto;
  padding: 94px;
}

.p-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  
}
  .list-p {
    display: flex;
    text-align: left;
    list-style: none; 
  }

h2 {
  margin-top: 0px;
  margin-bottom: 50px;
 

}
.secondary-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-font-color);
}

/* _____________Section: Czym się zajmujemy___________________ */
 
.section-what-we-do {
background-color: white;
}

 .container-what-we-do {
  max-width: 1200px;
  margin: 0 auto;
 }

.pictures {
display: flex;
justify-content: space-between;
}



/* _____________Section: Nasz zespół___________________ */

.section-our-team {
background-color: #F5F4FA;
}

 .container-our-team {
  max-width: 1200px;
  margin: 0 auto;
 }

figure {
  background-color: white;
margin: 0px;
padding: 0px;  
border: 1px solid grey;

}

.frames {
  padding-bottom: 30px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;


}
figcaption {
  margin-top: 30px;
  text-align: center;
}

.team-pictures {
display: flex;
justify-content: space-between;
}

.figcaption-main-page {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.team-names {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}



.section-footer{
height: 252px;
background-color: var(--header-footer-color);
padding: 0px;
}

.footer {
  display:flex;
  width: 1200px;
  background-color: var(--header-footer-color);
  height: 252px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  justify-content:flex-start;
  color: #ffffff;
  padding-top: 60px;
}

.menu-footer {
display: flex;
flex-direction:column;
}

.menu-footer .link-footer {
display: block;
}

.footer-logo {
color: #ffffff;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
}

address {
  margin-top: 20px;
}

.link-footer {
  color: #FFFFFF99;
  text-decoration: none;
  
}
.link-footer:not(:last-child) {
margin-bottom: 9px;  
}

.link-footer:hover {
  color: var(--interactive-elements-color);
}


/* ________________________PORTFOLIO_____________________________ */

.section-portfolio-pictures{
background-color: white;
margin: 0 auto;
padding-top: 0px;

}

 .container-portfolio-pictures {
  max-width: 1200px;
  margin: 0 auto;
 }

 .portfolio-pictures {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
row-gap: 30px;
}

.figcaption-portfolio {
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: var(--secondary-font-color);
margin-top: 20px;
margin-bottom: 4px;
}

.frames-portfolio {
padding-bottom: 20px;  
margin-bottom: 0px;
margin-top: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;


}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--main-font-color);
}

.portfolio-buttons-list {
display: flex;
justify-content: center;
background-color: white;
padding-top: 94px;
padding-bottom:50px;
margin: 0px;
}

.buttons-items:not(:last-child) {
margin-right: 8px;
}

.buttons-portfolio {
 background-color: #F5F4FA;
  color: var(--main-font-color);
   font-family: "Roboto" sans-serif;
  text-decoration: none;
  border-style: none;
  Height: 50px;
  Font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;

}

.buttons-portfolio:hover {
  color: white;
  background-color: var(--interactive-elements-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
